table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-box{
    background-color: antiquewhite;
    width: 70px;
    height: 70px;
    outline: black solid 1px;
    user-select: none;
}

.dark-box {
    background-color: rgb(41, 9, 39);
    width: 70px;
    height: 70px;
    outline: black solid 1px;
    user-select: none;
}

img {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.selected {
    background-color: rgb(115, 122, 141);
}

.possible-move{
    background-color: rgb(175, 185, 214);

}

.upper-banner{
    display: flex;
}

h1{
  font-size: 67px;
  font-family: "My Soul", cursive;
  margin-bottom: 5px;
  margin-top: 0px;
  color: rgb(53, 53, 53);
  margin-left: 39%;
}


.reset{
    width: 100px;
    height: 80px;
    border-radius: 20px;
    margin-top: 10px;
}

body {
    background-color: bisque;
}

.winner-dialog{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgb(96, 66, 66);
    padding: 50;
    border-radius: 10px;
    width: max-content;
    font-size: x-large;
    
}